<template>
   <header  class="masthead bg-primary__color text-white text-center">
      <b-container class="clearfix">
        <b-row>
          <b-col md="6" order="2"  cols="12" class="pt-3">

            <h1 class="name">{{ title }}</h1>

            <div class="mx-auto m-3">

                <div class="m-3">
                  <b-link v-b-tooltip.hover title="Professionnal Linkedin page" target="_blank" href="https://www.linkedin.com/in/rabehasy/"><font-awesome-icon size="2x" :style="{ color: 'white' }" :icon="['fab', 'linkedin']"/></b-link>
                  <b-link class="pl-2 d-inline-block" v-b-tooltip.hover title="Source code on Gitlab" target="_blank" href="https://gitlab.com/devmr"><font-awesome-icon size="2x" :style="{ color: 'white' }" :icon="['fab', 'gitlab']"/></b-link>
                  <b-link class="pl-2 d-inline-block" v-b-tooltip.hover title="Source code on Github" target="_blank" href="https://github.com/rabehasy"><font-awesome-icon size="2x" :style="{ color: 'white' }" :icon="['fab', 'github']"/></b-link>
                  <b-link class="pl-2 d-inline-block" v-b-tooltip.hover title="Follow me on Twitter" target="_blank" href="https://twitter.com/rabehasy"><font-awesome-icon size="2x" :style="{ color: 'white' }" :icon="['fab', 'twitter']"/></b-link>
                  <b-link class="pl-2 d-inline-block" v-b-tooltip.hover title="Snippets source code on Codepen" target="_blank" href="https://codepen.io/miaryrabs/"><font-awesome-icon size="2x" :style="{ color: 'white' }" :icon="['fab', 'codepen']"/></b-link>
                </div>

              <b-button class="shadow rounded-0" target="_blank" size="lg" href="https://firebasestorage.googleapis.com/v0/b/miaryrabs.appspot.com/o/cv-Miary-Rabehasy-ch.pdf?alt=media&token=214ba7f9-2d7b-4bda-9c88-a9d2ffe0038e">
                CV au format (pdf)
                <font-awesome-icon :style="{ color: 'white' }" :icon="['fas', 'download']"/>
              </b-button>
            </div>

          </b-col>
          <b-col md="6" order="1" order-md="2" cols="12">
            <b-img-lazy class="border-3" rounded="circle" src="https://www.gravatar.com/avatar/7bd993c84dff7f5b993033fbba8f3b9d?s=200" alt=""></b-img-lazy>
          </b-col>
        </b-row>




      </b-container><!--//container-->
    </header>
</template>

<script>


  export default {

    data () {
      return {
        me: 'Miary RABEHASY',
        title: 'Expert Senior Developper ',
        isActive: true
      }
    },

    methods: {
      toggleClass: function(event){
        // Check value
        this.isActive = !this.isActive;

      }
    }
  }
</script>

<style lang="scss">
.profile-image {
  border-radius: 50%;

}
</style>
