<template>
    <b-navbar  id="mainNav" class="clearfix navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" toggleable="lg" type="dark" variant="info">
      <b-container>
        <b-navbar-brand class="js-scroll-trigger" to="/">{{ me }}</b-navbar-brand>

        <b-navbar-toggle target="nav-collapse">
          <div
            aria-label="Menu"
            aria-controls="navigation"
            v-bind:class="[isActive ? 'hamburger hamburger--slider' : 'hamburger hamburger--slider is-active']"
            @click="toggleClass()"
          >
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
          </div>
        </b-navbar-toggle>



        <b-collapse id="nav-collapse" is-nav>

          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">

            <b-nav-item to="/work">Expériences</b-nav-item>
            <b-nav-item to="/skill">Compétences</b-nav-item>
            <b-nav-item to="/edu">Formations</b-nav-item>
            <b-nav-item to="/contact">Contact</b-nav-item>
            <b-nav-item to="/about">Blogs/Publications</b-nav-item>

          </b-navbar-nav>
        </b-collapse>
      </b-container>
    </b-navbar>
</template>

<script>


  export default {

    data () {
      return {
        me: 'Miary Rabehasy',
        title: '',
        isActive: true
      }
    },

    methods: {
      toggleClass: function(event){
        // Check value
        this.isActive = !this.isActive;

      }
    }
  }
</script>

<style lang="scss">
.profile-image {
  border-radius: 50%;

}
</style>
