<template>
  <div class="progress" data-percentage="20">
    <span class="progress-left">
      <span class="progress-bar" v-bind:style="{ borderColor: borderColor  }"></span>
    </span>
    <span class="progress-right">
      <span class="progress-bar" v-bind:style="{ borderColor: borderColor  }"></span>
    </span>
    <div class="progress-value">
      <div>
        {{ percent }}%
        <span class="d-block mt-2">{{ label }}</span>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
      name: "circleProgress",
      props: {
        percent: {
          type: Number,
          default: 0
        },
        label: {
          type: String,
          default: ''
        },
        borderColor: {
          type: String,
          default: '#ffb43e'
        },
      },
      mounted(){
        // console.log(this.label)
      }
    }
</script>

<style lang="scss">
  @import '~/assets/progress.scss';
</style>
