<template>
  <span class="mt-1 mx-auto bgcolor__dark-blue nice-border-bottom"></span>
</template>

<script>
    export default {
        name: "niceBorderSolid"
    }
</script>

<style lang="scss">
  .nice-border-bottom  {
    width: 1.875rem;
    height: .375rem;
    display: block;
  }
</style>
