// Color system bootstrap

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$hamburger-layer-color         : #fff !default;
$dark-blue-color         : #2C3E50 !default;
$gray-color         : #6c757d !default;
$pink-color         : #f54ea2 !default;
$bg-primary-color         : #80aede !default;
$text-primary-color         : #18BC9C !default;
$text-primary-color-hover         : #128f76 !default;
$svg-color         : #6e9ac7 !default;
