<template>
  <div>
    <Toolbar/>
    <nuxt/>
    <cookie-law buttonText="OK" theme="myCookie" message="Ce site utilise des cookies pour une meilleure expérience utilisateur." />
  </div>
</template>

<script>
  import Toolbar from '~/components/Toolbar.vue'

  export default {
    components: {
      Toolbar
    }
  }
</script>

<style lang="scss">
  @import '~/assets/mrvariables.scss';
  @import 'node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';

  body {
    font-family: 'Lato';
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: 'Montserrat';
  }

  hr {
    &.star-light, &.star-dark {
      max-width: 15rem;
      padding: 0;
      text-align: center;
      border: none;
      border-top: solid 0.25rem;
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
      margin-left: auto;
      margin-right: auto;
    }
    &.star-light:after, &.star-dark:after {
      position: relative;
      top: -.8em;
      display: inline-block;
      padding: 0 0.25em;
      content: '\f005';
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 2em;
    }
    &.star-light {
      border-color: $white;
      &:after {
        color: $white;
        background-color: #18BC9C;
      }
    }
    &.star-dark {
      border-color: $dark-blue-color;
      &:after {
        color: $dark-blue-color;
        background-color: white;
      }
    }
  }

  section {
    padding: 6rem 0;
    h2 {
      font-size: 2.25rem;
      line-height: 2rem;
    }
  }

  .Cookie--myCookie {
    background: #2c3e50;
    padding: 1rem;

    .Cookie__content {
      color: #fff;
    }

    .Cookie__button {
      background-color: #ffffff;
      border: none;
      padding: 0 1rem;
    }
  }

  @media (min-width: 992px) {
    section h2 {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }

  .btn-xl {
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
  }

  .btn-social {
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .scroll-to-top {
    z-index: 1042;
    right: 1rem;
    bottom: 1rem;
    display: none;
    a {
      width: 3.5rem;
      height: 3.5rem;
      background-color: rgba(33, 37, 41, 0.5);
      line-height: 3.1rem;
    }
  }

  #mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 700;
    font-family: 'Montserrat';
    .navbar-brand {
      color: $white;
    }
    .navbar-nav {
      margin-top: 1rem;
      letter-spacing: 0.0625rem;
      li.nav-item a {
        &.nav-link {
          color: $white;
          &:hover {
            color: #18BC9C;
          }
        }
        &.nuxt-link-active {
          color: #18BC9C;
        }
        &.nav-link {
          &:active, &:focus {
            color: $white;
          }
          &.active {
            color: #18BC9C;
          }
        }
      }
    }
    .navbar-toggler {
      border: none;
    }
  }

  @media (min-width: 992px) {
    #mainNav {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
      transition: padding-top 0.3s, padding-bottom 0.3s;
      .navbar-brand {
        font-size: 2em;
        -webkit-transition: font-size 0.3s;
        transition: font-size 0.3s;
      }
      .navbar-nav {
        margin-top: 0;
        > li.nav-item > a.nav-link.active {
          color: $white;
          background: #18BC9C;
          &:active, &:focus, &:hover {
            color: $white;
            background: #18BC9C;
          }
        }
      }
      &.navbar-shrink {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        .navbar-brand {
          font-size: 1.5em;
        }
      }
    }
  }

  header.masthead {
    padding-top: calc(3rem + 72px);
    padding-bottom: 6rem;
    h1 {
      font-size: 3rem;
      line-height: 3rem;
    }
    h2 {
      font-size: 1.3rem;
      font-family: 'Lato';
    }
  }

  @media (min-width: 992px) {
    header.masthead {
      padding-top: calc(3rem + 106px);
      padding-bottom: 6rem;
      h1 {
        line-height: 4rem;
      }
      h2 {
        font-size: 1.75em;
      }
    }
  }

  .portfolio {
    margin-bottom: -15px;
    .portfolio-item {
      position: relative;
      display: block;
      max-width: 25rem;
      margin-bottom: 15px;
      .portfolio-item-caption {
        -webkit-transition: all ease 0.5s;
        transition: all ease 0.5s;
        opacity: 0;
        background-color: rgba(24, 188, 156, 0.9);
        &:hover {
          opacity: 1;
        }
        .portfolio-item-caption-content {
          font-size: 1.5rem;
        }
      }
    }
  }

  @media (min-width: 576px) {
    .portfolio {
      margin-bottom: -30px;
      .portfolio-item {
        margin-bottom: 30px;
      }
    }
  }

  .portfolio-modal .portfolio-modal-dialog {
    padding: 3rem 1rem;
    min-height: calc(100vh - 2rem);
    margin: 1rem calc(1rem - 8px);
    position: relative;
    z-index: 2;
    -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
    .close-button {
      position: absolute;
      top: 2rem;
      right: 2rem;
      i {
        line-height: 38px;
      }
    }
    h2 {
      font-size: 2rem;
    }
  }

  @media (min-width: 768px) {
    .portfolio-modal .portfolio-modal-dialog {
      min-height: 100vh;
      padding: 5rem;
      margin: 3rem calc(3rem - 8px);
      h2 {
        font-size: 3rem;
      }
    }
  }

  .floating-label-form-group {
    position: relative;
    border-bottom: 1px solid #e9ecef;
    input, textarea {
      font-size: 1.5em;
      position: relative;
      z-index: 1;
      padding-right: 0;
      padding-left: 0;
      resize: none;
      border: none;
      border-radius: 0;
      background: none;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
    label {
      font-size: 0.85em;
      line-height: 1.764705882em;
      position: relative;
      z-index: 0;
      top: 2em;
      display: block;
      margin: 0;
      -webkit-transition: top 0.3s ease, opacity 0.3s ease;
      transition: top 0.3s ease, opacity 0.3s ease;
      vertical-align: middle;
      vertical-align: baseline;
      opacity: 0;
    }
    &:not(:first-child) {
      padding-left: 14px;
      border-left: 1px solid #e9ecef;
    }
  }

  .floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
  }

  .floating-label-form-group-with-focus label {
    color: #18BC9C;
  }

  form .row:first-child .floating-label-form-group {
    border-top: 1px solid #e9ecef;
  }

  .footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: $dark-blue-color;
    color: $white;
  }

  .copyright {
    background-color: #1a252f;
  }

  a {
    color: text-primary-color;
    &:focus, &:hover, &:active {
      color: $text-primary-color-hover;
    }
  }

  .btn {
    border-width: 2px;
  }

  .bg-primary, .bg-primary__color {
    background-color: $bg-primary-color !important;
  }

  .bg-secondary {
    background-color: $dark-blue-color !important;
  }

  .text-primary {
    color: $text-primary-color !important;
  }

  .text-secondary {
    color: $dark-blue-color !important;
  }

  .btn-primary {
    background-color: $text-primary-color;
    border-color: $text-primary-color;
    &:hover, &:focus, &:active {
      background-color: $text-primary-color-hover;
      border-color: $text-primary-color-hover;
    }
  }

  .btn-secondary {
    background-color: $dark-blue-color;
    border-color: $dark-blue-color;
    &:hover, &:focus, &:active {
      background-color: #1a252f;
      border-color: #1a252f;
    }
  }

  .border-3 {
    border: .4em solid $dark-blue-color !important;
  }

  .text-gray-600 {
    color: $gray-color !important;
  }

  .text-medium {
    font-size: 1rem !important;
  }

  .text-extra-large-2 {
    font-size: 2rem !important;
    line-height: 2.875rem !important;
  }

  .letter-spacing-3 {
    letter-spacing: 0.1875rem !important;
  }

  .bgcolor__pink {
    background-color: $pink-color !important;
  }

  .bgcolor__dark-blue {
    background-color: $dark-blue-color !important;
  }

  .color__dark-blue {
    color: $dark-blue-color !important;
  }

  .mt-10 {
    margin-top: 7em;
  }

  svg, .svg__color {
    color: $svg-color;
  }

</style>

