<template>
  <div>
    <b-navbar  id="mainNav" class="navbar navbar-expand-lg bg-secondary text-uppercase" toggleable="lg" type="dark" variant="info">
      <b-container>
        <b-navbar-brand class=" js-scroll-trigger" to="/">{{ me }}</b-navbar-brand>



      </b-container>
    </b-navbar>
    <div  class="mt-5">
    <!-- Navigation -->
    <nuxt/></div>
  </div>
</template>

<script>
  export default {

    data () {
      return {
        me: 'Error'
      }
    },

    methods: {

    }
  }
</script>

<style scoped>

</style>
