<template>
  <b-container class="mt-10">
    <b-row class="justify-content-center mb-5 mt-5">
      <b-col class="col-lg-7 text-center pt-3">
        <h3 class="font-alt letter-spacing-3 mb-0 text-extra-large-2 text-uppercase">Blogs / Publications</h3>
        <nice-border-solid />
      </b-col>
    </b-row>

    <ul>
      <li>Blog principal (<em>Développé avec Hexo</em>) - <a target="_blank" href="https://passions.miary.dev/">https://passions.miary.dev/</a></li>
      <li>Posts sur :
        <ul>
          <li><a target="_blank" href="https://medium.com/@miarirabs/">Medium</a></li>
          <li><a target="_blank" href="https://dev.to/rabehasy">Dev.to</a></li>
        </ul>
      </li>
      <li>Réseaux sociaux :
        <ul>
          <li><a target="_blank" href="https://twitter.com/rabehasy">Twitter</a></li>
          <li>Projets (<em>Codes sources</em>) sur <a target="_blank" href="https://gitlab.com/devmr">Gitlab</a></li>
          <li>Projets (<em>Codes sources</em>) sur <a target="_blank" href="https://github.com/rabehasy">Github</a></li>
        </ul>
      </li>
    </ul>

    <b-row class="justify-content-center mb-5 mt-5">
      <b-col class="col-lg-7 text-center pt-3">
        <h3 class="font-alt letter-spacing-3 mb-0 text-extra-large-2 text-uppercase">Ce site/CV</h3>
        <nice-border-solid />
      </b-col>
    </b-row>
    <ul>
    <li>Développé avec 💜 grâce à <a href="https://nuxtjs.org/"><strong>nuxtjs</strong></a> et <a href="https://bootstrap-vue.js.org/"><strong>Boostrap-vue</strong></a>.
      <ul>
        <li>Utilise les plugins suivants :
          <ul>
            <li>Firebase</li>
            <li>Axios</li>
            <li>Vuelidate</li>
            <li>...</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>Hebergé et deployé 👍 sur <strong>Netlify</strong> (<em> à partir d'un webhook sur Gitlab</em> ).</li>
    <li>Données dynamiques issues de <strong>Firestore Cloud</strong></li>
  </ul>



  </b-container>
</template>

<script>
  import Header from '~/components/Header.vue'
  import NiceBorderSolid from '~/components/ui/niceBorderSolid.vue'
  import { fireDb } from '~/plugins/firebase.js'

  import { required, minLength, email } from 'vuelidate/lib/validators'

  export default {


    components: {
      Header,
      'nice-border-solid': NiceBorderSolid
    },
    data () {
      return {
        title: 'A propos de ce site - Miary RABEHASY - Lead Développeur Passionné',
        markdown: '# Miary R. resume. (powered by nuxtjs / VueJs / expressjs)\n' +
          '\n' +
          'Hi ! this is my resume.\n' +
          '\n' +
          'Deployed on :\n' +
          '- **netlify** (https://mrabehasy-nxt.netlify.com/)\n' +
          '\n' +
          '## Tools\n' +
          '\n' +
          '- [Bootstrap](https://getboostrap.com/) version 4.3\n' +
          '- [Vue-cli](https://vuejs.org/) version 3.5\n' +
          '- [Nuxtjs](https://nuxtjs.org/) version 2.6\n' +
          '- [Fontawesome](https://fontawesome.com/) version 5.0\n' +
          '- [Hamburgers](https://jonsuh.com/hamburgers/) version 1.1 \n' +
          '- [Apexcharts](https://apexcharts.com/) version 3.6 \n' +
          '- [Firebase](https://console.firebase.google.com/) version 3.6 \n' +
          '- [Progressbar.js](https://kimmobrunfeldt.github.io/progressbar.js/) version 1.0 \n' +
          '\n' +
          '##\n' +
          '> Vue Components:\n' +
          '- [Bootstrap-vue](https://bootstrap-vue.js.org/) - v2.0.0-rc.18 \n' +
          '- nuxt-fontawesome - v0.4\n' +
          '- vue-apexcharts - v1.3 \n' +
          '- vue-moment - v4.0 \n' +
          '- vue-progress - v0.2 \n' +
          '- vuelidate - v0.7\n' +
          '- nuxtjs/axios - v5.4 \n' +
          '- @nuxtjs/recaptcha - v0.4 \n' +
          '- @nuxtjs/google-analytics - v2.2\n' +
          '- @nuxtjs/markdownit - v1.2\n' +
          '\n' +
          '##\n' +
          '> Node package:\n' +
          '- node-sass\n' +
          '\n' +
          '> Backend\n' +
          '- Firebase\n' +
          '- [expressjs node](https://mrabehasy-nodejs.herokuapp.com/) hosted on heroku ;)\n' +
          '\n' +
          ' \n' +
          '\n'
      }
    },
    head () {
      return {
        title: this.title,
        meta: [
          { hid: 'description', name: 'description', content: 'Lead Développeur Passionné' }
        ]
      }
    },
    async asyncData({ app }) {
      /*let d = await app.$axios.$get(
        'https://gitlab.com/devmr/cvnuxtjs/raw/master/README.md'
      );
      return { markdown: d }*/
    },
    methods: { }
  }
</script>

<style lang="scss">

</style>

