<template>
  <b-container class="mt-10">
    <b-row class="justify-content-center mb-5 mt-5">
      <b-col class="col-lg-7 text-center pt-3">
        <h3 class="font-alt letter-spacing-3 mb-0 text-extra-large-2 text-uppercase">Contact</h3>
        <nice-border-solid />
      </b-col>
    </b-row>

    <div >
      <ul>
        <li><a href="https://www.malt.fr/profile/miaryrabehasy">Me proposer une mission sur <strong>Malt</strong>.</a></li>
        <li>Mon compte <a href="https://www.linkedin.com/in/rabehasy/">linkedin</a></li>
      </ul>
    </div>

    <b-form @submit.prevent="submit" netlify>
      <b-form-group
        id="input-group-2"
        label-for="input-2"
        description="">
        <b-form-input
          :state="$v.form.name.$model.length >= 4"
          id="input-2"
          required
          placeholder="Votre nom"
          v-model.lazy="$v.form.name.$model"
        ></b-form-input>
      </b-form-group>
      <div class="error" v-if="!$v.form.name.required">Champ obligatoire</div>
      <div class="error" v-if="!$v.form.name.minLength">Saisir au moins {{$v.form.name.$params.minLength.min}} caractères.</div>
      <b-form-group
        id="input-group-1"
        label-for="input-1"
        description=""
      >
        <b-form-input
          id="input-1"
          type="email"
          :state="$v.form.email.$model.length >= 4"
          required
          placeholder="Votre adresse email"
          v-model.lazy="$v.form.email.$model"
        ></b-form-input>
      </b-form-group>
      <div class="error" v-if="!$v.form.email.required">Champ obligatoire</div>
      <div class="error" v-if="!$v.form.email.email">Adresse email incorrecte</div>
      <div class="mb-2"><b-form-textarea
        v-model.lazy="$v.form.message.$model"
        no-auto-shrink
        :state="$v.form.message.$model.length >= 3"
        id="textarea"
        placeholder="Votre message..."
        rows="3"
        max-rows="6"
      ></b-form-textarea></div>
      <div class="mb-2"><recaptcha
        @error="onRecaptchaError"
        @success="onRecaptchaSuccess"
      /></div>
      <div class="error" v-if="!$v.form.message.required">Champ obligatoire</div>
      <b-button  :disabled="$v.form.$invalid" type="submit" variant="secondary rounded-0 shadow d-block mb-2" size="lg">Envoyer <font-awesome-icon :style="{ color: 'white' }" :icon="['fas', 'paper-plane']"/></b-button>

      <b-alert fade dismissible variant="success" show v-if="submitStatus === 'OK'">Merci pour votre participation!</b-alert>
      <b-alert fade dismissible variant="danger" show v-if="submitStatus === 'ERROR'">Merci de remplir correctement les champs obligatoires.</b-alert>
      <b-alert fade dismissible variant="danger" show v-if="submitStatus === 'ERRORCAPTCHA'">Case &quot;Je ne suis pas un robot&quot; obligatoire.</b-alert>
      <b-alert fade dismissible variant="warning" show v-if="submitStatus === 'PENDING'">Envoi...</b-alert>
    </b-form>




  </b-container>
</template>

<script>
  import Header from '~/components/Header.vue'
  import NiceBorderSolid from '~/components/ui/niceBorderSolid.vue'
  import { fireDb } from '~/plugins/firebase.js'

  import { required, minLength, email } from 'vuelidate/lib/validators'

  export default {


    components: {
      Header,
      'nice-border-solid': NiceBorderSolid
    },
    data () {
      return {
        text: '',
        title: 'Me contacter - Miary RABEHASY - Lead Développeur Passionné',
        markdown: '',

        submitStatus: null,
        form: {
          name: '',
          email: '',
          message: ''
        }
      }
    },
    head () {
      return {
        title: this.title,
        meta: [
          { hid: 'description', name: 'description', content: 'Lead Développeur Passionné' }
        ]
      }
    },
    async asyncData({ app }) { },
    methods: {
      onRecaptchaError (error) {
        console.log('Error happened:', error)
      },
      onRecaptchaSuccess (token) {
        console.log('Succeeded:', token)
      },
      encode(data) {
        return Object.keys(data)
          .map(
            key => `${encodeURIComponent(key)}=${encodeURIComponent(data[key])}`
          )
          .join('&');
      },
      async writeToFirestore() {
        const ref = fireDb.collection('test').doc('test')
        const document = {
          text: 'This is a test message.'
        }
        try {
          await ref.set(document)
        } catch (e) {
          // TODO: error handling
          console.error(e)
        }
        this.writeSuccessful = true
      },
      async sendForm () {
        let postParam = {
          "name": this.form.name,
          "email": this.form.email,
          "message": this.form.message
        }

        // send to heroku
        await this.$axios.$post('https://mrabehasy-nodejs.herokuapp.com/mail/', postParam)

        setTimeout(() => {

          this.form.name = ''
          this.form.email = ''
          this.form.message = '';

        }, 500)
      },
      async submit() {
        this.$v.form.$touch()


        if (this.$v.form.$invalid) {
          this.submitStatus = 'ERROR'
        } else {

          // do your submit logic here
          this.submitStatus = 'PENDING'

          try {
            const token = await this.$recaptcha.getResponse()
            console.log('ReCaptcha token:', token)
            this.submitStatus = 'OK'
          } catch (error) {
            console.log('Login error:', error);
            this.submitStatus = 'ERRORCAPTCHA';
          }

          if (this.submitStatus === 'OK') {
            this.sendForm()
          }

        }
      }

    },
    validations: {
      form: {
        name: {
          required,
          minLength: minLength(4)
        },
        email: {
          required, email
        },
        message: {
          required
        }
      }

    }
  }
</script>

<style lang="scss">

</style>

