<template>
  <b-container class="mt-10">
    <b-row class="justify-content-center mb-5 mt-5">
      <b-col class="col-lg-7 text-center pt-3">
        <h3 class="font-alt letter-spacing-3 mb-0 text-extra-large-2 text-uppercase">{{ title_page }}</h3>
        <nice-border-solid />
      </b-col>
    </b-row>

    <b-row>
      <b-col cols="12" class="mb-4">{{ desc_post_1 }}</b-col>
    </b-row>

    <b-row class="justify-content-center mb-5 mt-5">
      <b-col class="col-lg-7 text-center pt-3">
        <h3 class="svg__color font-alt letter-spacing-3 mb-0 text-extra-large-2 text-uppercase">{{ title1 }}</h3>
        <nice-border-solid />
      </b-col>
    </b-row>

    <ul class="timeline">
      <li :class="[[], (index%2 !== 0) ? 'timeline-inverted' : '']" v-for="(item, index) in formationproList" v-bind:key="item">
        <div class="timeline-badge">
          <a>
            <font-awesome-icon :style="{ color: 'black' }" :icon="['fas', 'circle']"/>
          </a>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="my-3 color__dark-blue"><strong>{{ item.title }}</strong></h4>
            <small  class="d-block px-3 text-muted"><strong>{{ item.desc }}</strong>   </small>
          </div>
          <div class="timeline-body">
            <p>{{ item.center }}
              <span v-if="item.linkcertificate" class="d-block text-truncate">Lien du certificat : <a target="_blank" v-bind:href="item.linkcertificate">{{ item.linkcertificate }}</a></span>
            </p>
          </div>
        </div>
      </li>
      <li class="clearfix no-float"></li>
    </ul>

    <b-row class="justify-content-center mb-5 mt-5">
      <b-col class="col-lg-7 text-center pt-3">
        <h3 class="font-alt letter-spacing-3 mb-0 text-extra-large-2 text-uppercase">{{ title2 }}</h3>
        <nice-border-solid />
      </b-col>
    </b-row>

    <ul class="timeline">
      <li :class="[[], (index%2 !== 0) ? 'timeline-inverted' : '']" v-for="(item, index) in formationacadList" v-bind:key="item">
        <div class="timeline-badge">
          <a>
            <font-awesome-icon :style="{ color: 'black' }" :icon="['fas', 'circle']"/>
          </a>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="my-3 color__dark-blue"><strong>{{ item.title }}</strong></h4>
            <small class="d-block px-3 text-muted"><strong>{{ item.desc }}</strong>   </small>
          </div>
          <div class="timeline-body">
            <p>{{ item.center }}</p>
          </div>
        </div>
      </li>
      <li class="clearfix no-float"></li>
    </ul>

    <!--<pre>
        {{ JSON.stringify(formationacadList,null,2) }}
      </pre>-->

  </b-container>
</template>

<script>
  import Header from '~/components/Header.vue'
  import NiceBorderSolid from '~/components/ui/niceBorderSolid.vue'
  import { fireDb } from '~/plugins/firebase.js'

  function loopAnimate (target) {
    target.animate(1.0, () => {
      setTimeout(target.animate(0, () => {
        // setTimeout(loopAnimate(target), 1400)
      }), 1400)
    })
  }

  export default {
    components: {
      Header,
      'nice-border-solid': NiceBorderSolid
    },
    data () {
      return {
        text: '',
        title: 'Mes études et formations - Miary RABEHASY - Lead Développeur Passionné',
        formationproList: [],
        formationacadList: []
      }
    },
    head () {
      return {
        title: this.title,
        meta: [
          { hid: 'description', name: 'description', content: 'Lead Développeur Passionné' }
        ]
      }
    },
    mounted () {
      this.init()
    },
    methods: {
      init () {}
    },
    async asyncData({ app, params, error }) {

      // console.log('asyncData');

      let formationacadList = []
      let formationproList = []
      let serverData = []

      await fireDb.collection('pages').where("menus","array-contains","edu")
        .get()
        .then(qS => {
          qS.forEach(doc => {
            // console.log(doc.data())
            serverData.push(doc.data());
          })
        });

      await fireDb.collection('formations').where("items","array-contains","academique")
        .get()
        .then(qS => {
          qS.forEach(doc => {
            // console.log(doc.data().list.length)
            formationacadList.push(doc.data());
          })
        });

      await fireDb.collection('formations').where("items","array-contains","professionnelle")
        .get()
        .then(qS => {
          qS.forEach(doc => {
            // console.log(doc.data().list.length)
            formationproList.push(doc.data());
          })
        });


      return {
        desc_post_1: serverData[0].menus[1].contents.desc_post_1,
        title1: serverData[0].menus[1].contents.title1,
        title2: serverData[0].menus[1].contents.title2,
        title_page: serverData[0].menus[1].contents.title,
        formationacadList: formationacadList[0].items[1].lists,
        formationproList: formationproList[0].items[1].lists,
      }
    }
  }
</script>

<style lang="scss">

</style>

