<template>
  <div>
    <Header/>
    <b-container>
      <b-row class="justify-content-center mb-5 mt-5">
        <b-col class="col-lg-7 text-center pt-3">
          <h3 class="font-alt letter-spacing-3 mb-0 text-extra-large-2 text-uppercase">{{ title_post }}</h3>
          <p class="font-w-700 letter-spacing-1 text-gray-600 text-medium text-uppercase">{{ subtitle_post }}</p>
          <nice-border-solid />
        </b-col>
      </b-row>

      <b-row>
        <b-col md="6" cols="12" class="mb-4">{{ desc_post_1 }}</b-col>
        <b-col md="6" cols="12">{{ desc_post_2 }}</b-col>
      </b-row>

      <b-row class="justify-content-center mb-5 mt-5">
        <b-col class="col-lg-7 text-center">
          <h3 class="font-alt letter-spacing-3 mb-0 text-extra-large-2 text-uppercase">{{ title_expertise }}</h3>
          <p class="font-w-700 letter-spacing-1 text-gray-600 text-medium text-uppercase">{{ subtitle_expertise }}</p>
          <nice-border-solid />
        </b-col>
      </b-row>


      <div v-for="thematique in thematiqueList" v-bind:key="thematique">

      <b-row>
        <b-col>
          <div class="divider">
            <span></span>
            <span><h2>{{ thematique }}</h2></span>
            <span></span>
          </div>
        </b-col>
      </b-row>

      <b-row class=" mb-4">
        <b-col class="mb-3 text-center" v-for="item in getCompetencesByThematiques(competencesLists,thematique)" v-bind:key="item.fontawesome">
          <font-awesome-icon v-if="item.fontawesome != ''" size="5x"  :icon="['fab', item.fontawesome]"/>
          <component v-if="item.fontawesome == '' && typeof item.component != 'undefined'" :is="getComponentOf(item.component)"></component>
          <span class="d-block"><strong>{{ item.label }}</strong></span>
        </b-col>
      </b-row>
      </div>

      <div class="text-center mb-4">
        <b-button class="shadow rounded-0" size="lg" to="/skill">
          {{ btn_more_expertise }}
          <font-awesome-icon :style="{ color: 'white' }" :icon="['fas', 'plus']"/>
        </b-button>
      </div>

      <!--<pre>
        {{ JSON.stringify(competencesListsAll,null,2) }}
        {{ JSON.stringify(thematiqueList,null,2) }}
      </pre>-->

    </b-container>
  </div>
</template>

<script>
  import Header from '~/components/Header.vue'
  import NiceBorderSolid from '~/components/ui/niceBorderSolid.vue'
  import CircleProgress from '~/components/ui/circleProgress.vue'
  import { fireDb } from '~/plugins/firebase.js'

  import Apache from '~/components/ui/svg/apache.vue'
  import Electronjs from '~/components/ui/svg/electronjs.vue'
  import Grunt from '~/components/ui/svg/grunt.vue'
  import Gulp from '~/components/ui/svg/gulp.vue'
  import Ionic from '~/components/ui/svg/ionic.vue'
  import Magento from '~/components/ui/svg/magento.vue'
  import Mongo from '~/components/ui/svg/mongo.vue'
  import Mysql from '~/components/ui/svg/mysql.vue'
  import Nativescript from '~/components/ui/svg/nativescript.vue'
  import Npm from '~/components/ui/svg/npm.vue'
  import Postgresql from '~/components/ui/svg/postgresql.vue'
  import Redis from '~/components/ui/svg/redis.vue'
  import Shell from '~/components/ui/svg/shell.vue'
  import Typo3 from '~/components/ui/svg/typo3.vue'
  import Wordpress from '~/components/ui/svg/wordpress.vue'

  export default {
    components: {
      Header,
      'nice-border-solid': NiceBorderSolid,
      'circle-progress': CircleProgress
    },
    data () {

      return {

        title_post: '',
        subtitle_post: '',
        desc_post_1: '',
        desc_post_2: '',

        title_expertise: '',
        subtitle_expertise: '',
        btn_more_expertise: '',
        competencesListsAll: [],
        competencesLists: [],
        serverData: [],
        thematiqueList: [],
        componentList: [
          { label: 'Apache', component: Apache },
          { label: 'Electronjs', component: Electronjs },
          { label: 'Grunt', component: Grunt },
          { label: 'Gulp', component: Gulp },
          { label: 'Ionic', component: Ionic },
          { label: 'Magento', component: Magento },
          { label: 'Mongo', component: Mongo },
          { label: 'Mysql', component: Mysql },
          { label: 'Nativescript', component: Nativescript },
          { label: 'Npm', component: Npm },
          { label: 'Postgresql', component: Postgresql },
          { label: 'Redis', component: Redis },
          { label: 'Shell', component: Shell },
          { label: 'Typo3', component: Typo3 },
          { label: 'Wordpress', component: Wordpress }
        ],

      }
    },

    async asyncData({ app, params, error }) {

      // console.log('asyncData');

      let serverData = []
      let competencesLists = []
      let thematiquesList = []

      await fireDb.collection('pages').where("menus","array-contains","home")
        .get()
          .then(qS => {
            qS.forEach(doc => {
              // console.log(doc.data())
              serverData.push(doc.data());
            })
          });


      await fireDb.collection('competences')
      // await fireDb.collection('competences').where("list","array-contains","0")
        .get()
        .then(qS => {
          qS.forEach(doc => {
            // console.log(doc.data().list.length)
            competencesLists.push(doc.data());
            doc.data().list.forEach(item => {
              // console.log(item.thematique);
              if (item.thematique !== '') {
                thematiquesList.push(item.thematique);
              }
            });

            // Remove duplicate
            thematiquesList = [...new Set(thematiquesList)]
          })
        });

      return {

        serverData: serverData,
        title_post: serverData[0].menus[1].contents.presentation_title,
        subtitle_post: serverData[0].menus[1].contents.presentation_subtitle,
        desc_post_1: serverData[0].menus[1].contents.presentation_post_1,
        desc_post_2: serverData[0].menus[1].contents.presentation_post_2,
        title_expertise: serverData[0].menus[1].contents.title_expertise,
        subtitle_expertise: serverData[0].menus[1].contents.subtitle_expertise,
        btn_more_expertise: serverData[0].menus[1].contents.btn_more_expertise,

        competencesListsAll: competencesLists,
        competencesLists: competencesLists[0].list,
        thematiqueList: thematiquesList
      }
    },

    methods: {
      getComponentOf(name) {

        let a = this.componentList.filter( e => {
          return e.label === name
        });

        return a[0].component;
      },
      getCompetencesByThematiques(arr, sT) {

        if (sT === '') {
          return arr;
        }

        let list = [];

        arr.forEach(item => {
          if (item.thematique == sT) {
            list.push(item);
          }
        });

        return list;
      }
    }

  }
</script>

<style lang="scss">
  .divider {
    /* minor cosmetics */
    display: table;
    font-size: 24px;
    text-align: center;
    width: 75%;
    /* divider width */
    margin: 40px auto;
    /* spacing above/below */
    span {
      display: table-cell;
      position: relative;
      &:first-child, &:last-child {
        width: 50%;
        top: 20px;
        /* adjust vertical align */
        -moz-background-size: 100% 2px;
        /* line width */
        background-size: 100% 2px;
        /* line width */
        background-position: 0 0, 0 100%;
        background-repeat: no-repeat;
      }
      &:first-child {
        /* color changes in here */
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
        background-image: -webkit-linear-gradient(180deg, transparent, #000);
        background-image: -moz-linear-gradient(180deg, transparent, #000);
        background-image: -o-linear-gradient(180deg, transparent, #000);
        background-image: linear-gradient(90deg, transparent, #000);
      }
      &:nth-child(2) {
        color: #000;
        padding: 0px 5px;
        width: auto;
        white-space: nowrap;
      }
      &:last-child {
        /* color changes in here */
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
        background-image: -webkit-linear-gradient(180deg, #000, transparent);
        background-image: -moz-linear-gradient(180deg, #000, transparent);
        background-image: -o-linear-gradient(180deg, #000, transparent);
        background-image: linear-gradient(90deg, #000, transparent);
      }
    }
  }
</style>

