<template>
  <b-container class="mt-10">
    <b-row class="justify-content-center mb-5 mt-5">
      <b-col class="col-lg-7 text-center pt-3">
        <h3 class="font-alt letter-spacing-3 mb-0 text-extra-large-2 text-uppercase">Publications</h3>
        <nice-border-solid />
      </b-col>
    </b-row>





  </b-container>
</template>

<script>
  import Header from '~/components/Header.vue'
  import NiceBorderSolid from '~/components/ui/niceBorderSolid.vue'
  import { fireDb } from '~/plugins/firebase.js'

  export default {
    components: {
      Header,
      'nice-border-solid': NiceBorderSolid
    },
    data () {
      return {
        text: '',
        title: 'Me contacter - Miary RABEHASY - Lead Développeur Passionné'
      }
    },
    head () {
      return {
        title: this.title,
        meta: [
          { hid: 'description', name: 'description', content: 'Lead Développeur Passionné' }
        ]
      }
    },
    async asyncData({ app, params, error }) {
      const ref = fireDb.collection('test').doc('test')
      let snap
      try {
        snap = await ref.get()
      } catch (e) {
        // TODO: error handling
        console.error(e)
      }
      return {
        text: snap.data().test
      }
    },
    methods: {
      async writeToFirestore() {
        const ref = fireDb.collection('test').doc('test')
        const document = {
          text: 'This is a test message.'
        }
        try {
          await ref.set(document)
        } catch (e) {
          // TODO: error handling
          console.error(e)
        }
        this.writeSuccessful = true
      },
      async getCvFromFirestore() {
        const ref = fireDb.collection('cv').doc('CV')
        let snap
        try {
          snap = await ref.get()
        } catch (e) {
          // TODO: error handling
          console.error(e)
        }
        console.log(JSON.stringify(snap.data()));
        this.text = JSON.stringify(snap.data(), null, 2)
        // this.text = snap.data().test
      }
    }
  }
</script>

<style lang="scss">

</style>

