<template>
  <b-container class="mt-10">




    <b-row class="justify-content-center mb-5 mt-5">
      <b-col class="col-lg-7 text-center">
        <h3 class="font-alt letter-spacing-3 mb-0 text-extra-large-2 text-uppercase">{{ title_page }}</h3>
        <nice-border-solid />
      </b-col>
    </b-row>

    <b-row>
      <b-col cols="12" class="mb-4">{{ desc_post_1 }}</b-col>
    </b-row>

    <b-row class="justify-content-center mb-5 mt-5">
      <b-col class="col-lg-7 text-center">
        <h3 class="font-alt letter-spacing-3 mb-0 text-extra-large-2 text-uppercase">{{ title_informatique }}</h3>
        <nice-border-solid />
      </b-col>
    </b-row>

    <div v-for="thematique in thematiqueList" v-bind:key="thematique">

      <b-row>
        <b-col>
          <div class="divider">
            <span></span>
            <span><h2>{{ thematique }}</h2></span>
            <span></span>
          </div>
        </b-col>
      </b-row>

      <b-row class=" mb-4">
        <b-col class="mb-3 text-center" v-for="item in getCompetencesByThematiques(competencesLists,thematique)" v-bind:key="item.fontawesome">
          <nuxt-link :to="'/skilld/' + item.name">
          <font-awesome-icon v-if="item.fontawesome != ''" size="5x"  :icon="['fab', item.fontawesome]"/>
            <component v-if="item.fontawesome == '' && typeof item.component != 'undefined'" :is="getComponentOf(item.component)"></component>
          </nuxt-link>
          <span class="d-block mb-2">
            <strong>{{ item.label }}</strong>
          </span> 
        </b-col>
      </b-row>

    </div>


    <b-row class="justify-content-center mb-5 mt-5">
      <b-col class="col-lg-7 text-center">
        <h3 class="font-alt letter-spacing-3 mb-0 text-extra-large-2 text-uppercase">{{ title_langue }}</h3>
        <nice-border-solid />
      </b-col>
    </b-row>

    <b-row class=" mb-4">
      <b-col class="mb-3 text-center" >
        <p v-b-tooltip.hover title="Français courant">FR</p>
        <div class="shadow-sm"><fr-flag /></div>
      </b-col>
      <b-col class="mb-3 text-center" >
        <p v-b-tooltip.hover title="Anglais technique">EN</p>
        <div class="shadow-sm"><en-flag /></div>
      </b-col>
      <b-col class="mb-3 text-center" >
        <p v-b-tooltip.hover title="Malagasy courant">MG</p>
        <div class="shadow-sm"><mg-flag /></div>
      </b-col>
    </b-row>

  </b-container>
</template>


<style lang="scss">

</style>
  <script>
  import Header from '~/components/Header.vue'
  import NiceBorderSolid from '~/components/ui/niceBorderSolid.vue'
  import { fireDb } from '~/plugins/firebase.js'

  import Apache from '~/components/ui/svg/apache.vue'
  import Electronjs from '~/components/ui/svg/electronjs.vue'
  import Grunt from '~/components/ui/svg/grunt.vue'
  import Gulp from '~/components/ui/svg/gulp.vue'
  import Ionic from '~/components/ui/svg/ionic.vue'
  import Magento from '~/components/ui/svg/magento.vue'
  import Mongo from '~/components/ui/svg/mongo.vue'
  import Mysql from '~/components/ui/svg/mysql.vue'
  import Nativescript from '~/components/ui/svg/nativescript.vue'
  import Npm from '~/components/ui/svg/npm.vue'
  import Postgresql from '~/components/ui/svg/postgresql.vue'
  import Redis from '~/components/ui/svg/redis.vue'
  import Shell from '~/components/ui/svg/shell.vue'
  import Typo3 from '~/components/ui/svg/typo3.vue'
  import Wordpress from '~/components/ui/svg/wordpress.vue'

  // Langues
  import MgFlag from '~/components/ui/svg/flag_mg.vue'
  import FrFlag from '~/components/ui/svg/flag_fr.vue'
  import EnFlag from '~/components/ui/svg/flag_gb.vue'

  export default {
    components: {
      Header,
      'nice-border-solid': NiceBorderSolid,
      'mg-flag': MgFlag,
      'fr-flag': FrFlag,
      'en-flag': EnFlag
    },
  data () {
    return {
      desc_post_1: '',
      desc_post_2: '',
      title_page: '',
      title: 'Mes compétences et expertises - Miary RABEHASY - Lead Développeur Passionné',
      thematiqueList: [],
      competencesLists: [],
      componentList: [
        { label: 'Apache', component: Apache },
        { label: 'Electronjs', component: Electronjs },
        { label: 'Grunt', component: Grunt },
        { label: 'Gulp', component: Gulp },
        { label: 'Ionic', component: Ionic },
        { label: 'Magento', component: Magento },
        { label: 'Mongo', component: Mongo },
        { label: 'Mysql', component: Mysql },
        { label: 'Nativescript', component: Nativescript },
        { label: 'Npm', component: Npm },
        { label: 'Postgresql', component: Postgresql },
        { label: 'Redis', component: Redis },
        { label: 'Shell', component: Shell },
        { label: 'Typo3', component: Typo3 },
        { label: 'Wordpress', component: Wordpress }
      ],
      selectedComponent: null,
      Typo3: Typo3,
      linePercentOptions: {
        strokeWidth: 4,
        easing: 'easeInOut',
        duration: 1400,
        color: '#80aede',
        trailColor: '#eee',
        trailWidth: 1,
        svgStyle: {width: '100%', height: '100%'},
        text: {
          style: {
            // Text color.
            // Default: same as stroke color (options.color)
            color: '#2c3e50',
            transform: null
          },
          autoStyleContainer: false
        },
        from: {color: '#6e9ac7'},
        to: {color: '#6e9ac7'},
        step: (state, bar) => {
          let txt = Math.round(bar.value()*10)  + ' / 10';
          if (Math.round(bar.value()*10) === 0) {
            txt = '';
          }
          bar.setText( txt )
        }
      }
    }
  },
  head () {
    return {
      title: this.title,
      meta: [
      { hid: 'description', name: 'description', content: 'Lead Développeur Passionné' }
    ]
    }
  },
  async asyncData({ app, params, error }) {

    let serverData = []
    let thematiquesList = []
    let competencesLists = []

    await fireDb.collection('pages').where("menus","array-contains","skill")
    .get()
    .then(qS => {
    qS.forEach(doc => {
      // console.log(doc.data())
    serverData.push(doc.data());
  })
  });


  await fireDb.collection('competences')
    // await fireDb.collection('competences').where("list","array-contains","0")
  .get()
  .then(qS => {
    qS.forEach(doc => {
      // console.log(doc.data().list.length)
      competencesLists.push(doc.data());
      doc.data().list.forEach(item => {
        // console.log(item.thematique);
        if (item.thematique !== '') {
          thematiquesList.push(item.thematique);
        }
      });

      // Remove duplicate
      thematiquesList = [...new Set(thematiquesList)]
    })
  });

  return {
    thematiqueList: thematiquesList,
    competencesLists: competencesLists[0].list,
    desc_post_1: serverData[0].menus[1].contents.desc_post_1,
    title_page: serverData[0].menus[1].contents.title,
    title_informatique: serverData[0].menus[1].contents.title_informatique,
    title_langue: serverData[0].menus[1].contents.title_langue,
  }
  },
  mounted () {
    this.init()
  },
  methods: {
    getLevelByName (name) {
      let a = this.competencesLists.filter( e => {
        return e.name == name
      });

      return a[0].level;
    },
    init () {

    },
    getComponentOf(name) {

      let a = this.componentList.filter( e => {
        return e.label === name
      });

      return a[0].component;
    },
  getCompetencesByThematiques(arr, sT) {

    if (sT === '') {
    return arr;
  }

    let list = [];

    arr.forEach(item => {
      if (item.thematique == sT) {
        list.push(item);
      }
    });

    return list;
  }
  }
  }
  </script>



