<template>
  <b-container class="mt-10">
    <b-row class="justify-content-center mb-5 mt-5">
      <b-col class="col-lg-7 text-center pt-3">
        <h3 class="font-alt letter-spacing-3 mb-0 text-extra-large-2 text-uppercase">{{ title_page }}</h3>
        <nice-border-solid />
      </b-col>
    </b-row>

    <b-row>
      <b-col cols="12" class="mb-4">{{ desc_post_1 }}</b-col>
    </b-row>

    <ul class="timeline">
      <li :class="[[], (index%2 !== 0) ? 'timeline-inverted' : '']" v-for="(item, index) in experiencesList" v-bind:key="item">
        <div class="timeline-badge">
          <a>
            <font-awesome-icon :style="{ color: 'black' }" :icon="['fas', 'circle']"/>
          </a>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="my-3 color__dark-blue"><strong>{{ item.title }}</strong></h4>
            <small v-if="item.company" class="d-block px-3 text-muted"><strong>{{ item.company.name }}</strong> <span v-if="item.company.desc !== ''"> - </span> {{ item.company.desc }}<span v-if="item.company.location !== ''"> - </span><em>{{ item.company.location }}</em></small>
          </div>
          <div class="timeline-body">
            <p>{{ item.post_desc }}</p>
          </div>
          <div class="timeline-footer">
            <b-row>
              <b-col v-if="item.competences">
                <b-badge class="mr-1" v-for="competence in item.competences" v-bind:key="competence" pill variant="dark">{{ competence }}</b-badge>
              </b-col>
              <b-col md="6">
            <p class="text-right"  v-if="item.startdate">
              <span v-if="item.current">Depuis {{ item.startdate.seconds  | moment("MMMM YYYY") }}</span>
              <span v-if="!item.current">{{ item.startdate.seconds | moment("MMMM YYYY") }} - {{ item.enddate.seconds  | moment("MMMM YYYY") }}</span>
            </p>
              </b-col>
            </b-row>
          </div>
        </div>
      </li>
      <li class="clearfix no-float"></li>
    </ul>

   <!-- <pre>
        {{ JSON.stringify(experiencesList,null,2) }}
      </pre>-->

  </b-container>
</template>

<script>
  import Header from '~/components/Header.vue'
  import NiceBorderSolid from '~/components/ui/niceBorderSolid.vue'
  import { fireDb } from '~/plugins/firebase.js'


  export default {
    components: {
      Header,
      'nice-border-solid': NiceBorderSolid
    },
    data () {
      return {
        desc_post_1: '',
        desc_post_2: '',
        title_page: '',
        title: 'Expériences professionnelles - Miary RABEHASY - Lead Développeur Passionné',
        experiencesList: []
      }
    },
    head () {
      return {
        title: this.title,
        meta: [
          { hid: 'description', name: 'description', content: 'Lead Développeur Passionné' }
        ]
      }
    },
    async asyncData({ app, params, error }) {

      // console.log('asyncData');

      let arrLists = []
      let serverData = []

      await fireDb.collection('pages').where("menus","array-contains","work")
        .get()
        .then(qS => {
          qS.forEach(doc => {
            // console.log(doc.data())
            serverData.push(doc.data());
          })
        });


      await fireDb.collection('experiences')
        .get()
        .then(qS => {
          qS.forEach(doc => {
            // console.log(doc.data().list.length)
            arrLists.push(doc.data());
          })
        });

      return {
        desc_post_1: serverData[0].menus[1].contents.desc_post_1,
        title_page: serverData[0].menus[1].contents.title,
        experiencesList: arrLists[0].list
      }
    }
  }
</script>

<style lang="scss">
  /* -----------------------------------------------
   * Timeline
   * --------------------------------------------- */

  .timeline {
    list-style: none;
    padding: 10px 0;
    position: relative;
    font-weight: 300;
    &:before {
      top: 0;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 2px;
      background: #000000;
      left: 50%;
      margin-left: -1.5px;
    }
    > li {
      margin-bottom: 20px;
      position: relative;
      width: 50%;
      float: left;
      clear: left;
      &:before {
        content: " ";
        display: table;
      }
      &:after {
        content: " ";
        display: table;
        clear: both;
      }
      &:before {
        content: " ";
        display: table;
      }
      &:after {
        content: " ";
        display: table;
        clear: both;
      }
      > {
        .timeline-panel {
          width: calc(100% - 25px);
          width: -moz-calc(100% - 25px);
          width: -webkit-calc(100% - 25px);
          float: left;
          border: 1px solid #dcdcdc;
          background: #ffffff;
          position: relative;
          &:before {
            position: absolute;
            top: 26px;
            right: -15px;
            display: inline-block;
            border-top: 15px solid transparent;
            border-left: 15px solid #dcdcdc;
            border-right: 0 solid #dcdcdc;
            border-bottom: 15px solid transparent;
            content: " ";
          }
          &:after {
            position: absolute;
            top: 27px;
            right: -14px;
            display: inline-block;
            border-top: 14px solid transparent;
            border-left: 14px solid #ffffff;
            border-right: 0 solid #ffffff;
            border-bottom: 14px solid transparent;
            content: " ";
          }
        }
        .timeline-badge {
          color: #ffffff;
          width: 24px;
          height: 24px;
          line-height: 50px;
          text-align: center;
          position: absolute;
          top: 16px;
          right: -12px;
          z-index: 100;
        }
      }
      &.timeline-inverted > .timeline-panel {
        float: right;
        &:before {
          border-left-width: 0;
          border-right-width: 15px;
          left: -15px;
          right: auto;
        }
        &:after {
          border-left-width: 0;
          border-right-width: 14px;
          left: -14px;
          right: auto;
        }
      }
    }
  }

  .timeline-badge {
    > a, a:hover {
      color: #000000 !important;
    }
  }

  .timeline-title {
    margin-top: 0;
    color: inherit;
  }

  .timeline-heading h4 {
    font-weight: 400;
    padding: 0 15px;
    color: #4679bd;
  }

  .timeline-body > {
    p, ul {
      padding: 10px 15px;
      margin-bottom: 0;
    }
  }

  .timeline-footer {
    padding: 5px 15px;
    background-color: #f4f4f4;
    p {
      margin-bottom: 0;
    }
    > a {
      cursor: pointer;
      text-decoration: none;
    }
  }

  .timeline > li {
    &.timeline-inverted {
      float: right;
      clear: right;
    }
    &:nth-child(2) {
      margin-top: 60px;
    }
    &.timeline-inverted > .timeline-badge {
      left: -12px;
    }
  }

  .no-float {
    float: none !important;
  }

  @media (max-width: 767px) {
    ul.timeline {
      &:before {
        left: 40px;
      }
      > li {
        margin-bottom: 0px;
        position: relative;
        width: 100%;
        float: left;
        clear: left;
        > {
          .timeline-panel {
            width: calc(100% - 65px);
            width: -moz-calc(100% - 65px);
            width: -webkit-calc(100% - 65px);
          }
          .timeline-badge {
            left: 28px;
            margin-left: 0;
            top: 16px;
          }
          .timeline-panel {
            float: right;
            &:before {
              border-left-width: 0;
              border-right-width: 15px;
              left: -15px;
              right: auto;
            }
            &:after {
              border-left-width: 0;
              border-right-width: 14px;
              left: -14px;
              right: auto;
            }
          }
        }
      }
    }
    .timeline > li.timeline-inverted {
      float: left;
      clear: left;
      margin-top: 30px;
      margin-bottom: 30px;
      > .timeline-badge {
        left: 28px;
      }
    }
  }
</style>

