<template>
  <svg
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:cc="http://creativecommons.org/ns#"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
    viewBox="0 -30 80 200"
    width="80"
    height="80"
    version="1.1"
    id="svg2"
    inkscape:version="0.91 r13725"
    sodipodi:docname="Electron_Wordmark.svg">

    <g
      id="g6"
      style="fill:none;fill-rule:evenodd;stroke:none;stroke-width:1"
      transform="translate(-0.25071504,-0.08839692)">
      <g
        transform="translate(-1,-1)"
        id="g8"
        style="fill:#000000">
        <g
          transform="translate(0.699997,0.400002)"
          id="g14">
          <path fill="currentColor"
                d="m 49.126612,32.767821 c -19.50411,-3.55235 -34.925236,0.165662 -41.0713651,10.81107 -4.5863792,7.943841 -3.2753999,18.476052 3.1793861,29.734338 0.549398,0.958246 1.771585,1.289684 2.729831,0.740286 0.958247,-0.549397 1.289684,-1.771584 0.740286,-2.729831 C 8.8902049,61.182091 7.7587793,52.092388 11.519349,45.578891 c 5.105615,-8.843186 18.860993,-12.159588 36.89052,-8.875809 1.086693,0.197923 2.128079,-0.522567 2.326002,-1.609259 0.197923,-1.086693 -0.522567,-2.128079 -1.609259,-2.326002 l 0,0 z M 21.377419,86.997598 c 7.886374,8.666541 18.132091,16.795322 29.816755,23.541462 28.292564,16.33472 58.411996,20.70079 73.256106,10.57924 0.91261,-0.62227 1.14797,-1.86654 0.5257,-2.77915 -0.62227,-0.9126 -1.86653,-1.14797 -2.77914,-0.5257 -13.2853,9.05867 -41.896578,4.91122 -69.002666,-10.73849 C 41.858736,100.53044 31.937517,92.659114 24.335871,84.305468 23.592459,83.488514 22.327534,83.428896 21.51058,84.172307 c -0.816954,0.743412 -0.876572,2.008337 -0.133161,2.825291 l 0,0 z"
            id="path16"
            inkscape:connector-curvature="0" />
          <path fill="currentColor"
                d="m 119.71503,84.564556 c 12.77082,-15.086728 17.22994,-30.260584 11.09647,-40.884071 -4.51312,-7.816962 -14.054,-11.94399 -26.73367,-12.108891 -1.10448,-0.01436 -2.01147,0.869347 -2.02584,1.973823 -0.0144,1.104476 0.86935,2.011475 1.97382,2.025839 11.40377,0.148307 19.62343,3.703827 23.32159,10.109229 5.09458,8.824076 1.11803,22.355778 -10.68541,36.299698 -0.71365,0.843072 -0.60874,2.105049 0.23433,2.818703 0.84308,0.713655 2.10505,0.608742 2.81871,-0.23433 l 0,0 z M 86.894173,33.433796 C 75.347248,35.907775 63.056587,40.744903 51.252829,47.559806 22.0461,64.422319 2.9938875,89.286699 5.6399215,107.31563 c 0.1603949,1.09286 1.1763604,1.84877 2.2692224,1.68838 1.0928619,-0.1604 1.8487757,-1.17636 1.6883808,-2.26922 C 7.2481256,90.726999 25.307756,67.158003 53.252829,51.023907 64.703412,44.41291 76.604054,39.729279 87.732172,37.345031 c 1.080058,-0.231407 1.768025,-1.29456 1.536618,-2.374617 -0.231407,-1.080058 -1.294559,-1.768025 -2.374617,-1.536618 l 0,0 z"
            id="path18"
            inkscape:connector-curvature="0" />
          <path fill="currentColor"
                d="m 39.578157,119.81497 c 6.677179,18.64509 17.60104,30.12475 29.884545,30.12475 8.95859,0 17.247042,-6.10679 23.710329,-16.85826 0.569099,-0.94668 0.263011,-2.17546 -0.683667,-2.74456 -0.946678,-0.5691 -2.175459,-0.26301 -2.744558,0.68367 -5.808546,9.66233 -12.943378,14.91915 -20.282104,14.91915 -10.2036,0 -19.94672,-10.23885 -26.118745,-27.47336 -0.372408,-1.0399 -1.517307,-1.581 -2.557205,-1.2086 -1.039897,0.37241 -1.581003,1.51731 -1.208595,2.55721 l 0,0 z m 60.991143,-3.64719 c 3.45665,-11.04614 5.31315,-23.788874 5.31315,-37.067549 0,-33.134077 -11.596775,-61.696897 -28.114845,-69.031422 -1.009524,-0.4482591 -2.19129,0.0067 -2.639549,1.016259 -0.448259,1.009523 0.0067,2.19129 1.016259,2.639549 14.732122,6.541509 25.738135,33.649285 25.738135,65.375614 0,12.882477 -1.79787,25.222829 -5.1306,35.872959 -0.329877,1.05416 0.257272,2.17615 1.311433,2.50602 1.05416,0.32988 2.176147,-0.25727 2.506017,-1.31143 l 0,0 z"
            id="path20"
            inkscape:connector-curvature="0" />
          <path fill="currentColor"
                d="m 138.23701,114.20837 c 0,-5.28666 -4.28569,-9.57234 -9.57234,-9.57234 -5.28666,0 -9.57235,4.28568 -9.57235,9.57234 0,5.28666 4.28569,9.57235 9.57235,9.57235 5.28665,0 9.57234,-4.28569 9.57234,-9.57235 l 0,0 z m -4,0 c 0,3.07752 -2.49482,5.57235 -5.57234,5.57235 -3.07752,0 -5.57235,-2.49483 -5.57235,-5.57235 0,-3.07752 2.49483,-5.57234 5.57235,-5.57234 3.07752,0 5.57234,2.49482 5.57234,5.57234 l 0,0 z"
            id="path22"
            inkscape:connector-curvature="0" />
          <path fill="currentColor"
                d="m 10.123062,123.78072 c 5.28666,0 9.572344,-4.28569 9.572344,-9.57235 0,-5.28666 -4.285684,-9.57234 -9.572344,-9.57234 -5.2866595,0 -9.57234396,4.28568 -9.57234396,9.57234 0,5.28666 4.28568446,9.57235 9.57234396,9.57235 l 0,0 z m 0,-4 c -3.0775205,0 -5.572344,-2.49483 -5.572344,-5.57235 0,-3.07752 2.4948235,-5.57234 5.572344,-5.57234 3.077521,0 5.572344,2.49482 5.572344,5.57234 0,3.07752 -2.494823,5.57235 -5.572344,5.57235 l 0,0 z"
            id="path24"
            inkscape:connector-curvature="0" />
          <path fill="currentColor"
                d="m 69.462702,19.833083 c 5.28666,0 9.572344,-4.285684 9.572344,-9.572344 0,-5.2866596 -4.285684,-9.57234408 -9.572344,-9.57234408 -5.286659,0 -9.572344,4.28568448 -9.572344,9.57234408 0,5.28666 4.285685,9.572344 9.572344,9.572344 l 0,0 z m 0,-4 c -3.07752,0 -5.572344,-2.494823 -5.572344,-5.572344 0,-3.0775206 2.494824,-5.5723441 5.572344,-5.5723441 3.077521,0 5.572344,2.4948235 5.572344,5.5723441 0,3.077521 -2.494823,5.572344 -5.572344,5.572344 l 0,0 z"
            id="path26"
            inkscape:connector-curvature="0" />
          <path fill="currentColor"
                d="m 70.924806,85.869678 c -3.738846,0.807844 -7.422361,-1.56826 -8.231786,-5.307107 -0.806263,-3.738847 1.56826,-7.422362 5.307107,-8.231787 3.738847,-0.807843 7.422362,1.568261 8.231787,5.307108 0.807843,3.738846 -1.568261,7.422361 -5.307108,8.231786 z"
            id="path28"
            inkscape:connector-curvature="0" />
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
    export default {
        name: "electronjs.vue"
    }
</script>

<style scoped>

</style>
