<template>
  <svg xmlns="http://www.w3.org/2000/svg" id="flag-icon-css-mg"
       viewBox="0 200 700 100"
       width="80"
       height="80">
    <g fill-rule="evenodd" stroke-width="1pt">
      <path fill="#ff3319" d="M213.3 0H640v240H213.3z"/>
      <path fill="#00cc28" d="M213.3 240H640v240H213.3z"/>
      <path fill="#fff" d="M0 0h213.3v480H0z"/>
    </g>
  </svg>
</template>

<script>
    export default {
        name: "flag_mg.vue"
    }
</script>

<style scoped>

</style>
