<template>
  <svg version="1.1"
	 id="svg2" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 400 600"
       width="80"
       height="80"
       fill="currentColor"

	 style="enable-background:new 0 0 417.4 559.4;" xml:space="preserve">
<g id="g4599" transform="matrix(0.1,0,0,-0.1,-81.6,300)">
	<path fill="currentColor"  id="path4601" d="M3668.9,2653.1c-179.6-190.3-331.7-356.2-337.3-367.4c-5.5-13-38.5-134.3-71.4-268.6l-60.6-248.1h-187
		c-295.2,0-844.9-35.5-1035.6-69c-95.4-14.9-207.2-44.8-247.4-65.3l-71.4-37.4l42.1-35.5c100.7-83.9,428.8-126.9,1048.5-141.9
		c764.4-16.9,1391.1,59.7,1391.1,169.8c0,52.3-245.7,119.4-498.6,136.2c-86.1,5.6-168.7,16.9-181.5,24.2
		c-18.3,13-16.6,39.1,1.9,134.3c58.7,277.9,69.7,296.5,286,531.6c405,440.3,412.5,451.3,394,488.8c-20.2,35.5-99,95.2-128.4,95.2
		C4004.5,3000.2,3850.4,2843.4,3668.9,2653.1z"/>
	<path fill="currentColor" id="path4603" d="M1709.6,1317.7c12.8-181,93.5-953.1,113.7-1095l12.8-82.2l45.9,110.1C1997.3,530.4,2206.4,743,2365.8,743
		c108.2,0,238.2-147.3,198.1-223.8c-27.4-52.3-36.8-48.4-111.8,39.1c-58.7,69-71.4,76.6-119.2,65.3
		c-155.8-41.1-390.4-462.6-392.3-703.3c0-261.3,311.5-11.2,428.8,343.2c12.8,42.8,78.8,41.1,93.5-3.7
		c11.1-39.1-183.4-688.4-219.9-727.5c-29.3-31.8-64.2-11.2-64.2,39.1c0,20.5,12.8,83.9,29.3,139.9c16.6,56,23.8,106.4,18.3,113.8
		c-5.5,5.6-34.9-11.2-62.3-37.4c-88-82.2-139.4-108.1-212.7-108.1H1880l11.1-171.7c7.2-95.2,25.7-292.8,42.1-438.4l31.2-264.9
		l73.3-29.8c207.2-83.9,359.4-106.4,782.7-115.7c322.6-7.6,449-3.7,577.4,20.5c229.1,39.1,408.7,98.8,430.8,141.9
		c22.1,41.1,42.1,181,91.6,628.7c49.5,440.3,53.1,412.2-55,324.6c-102.6-82.2-194.2-110.1-254.8-78.3
		c-66.1,37.4-49.5,91.5,84.4,266.7c84.4,108.1,91.6,149.2,22.1,132.4c-102.6-27.9-218-210.9-346.4-546.5
		c-67.8-179.1-106.3-231.4-154.1-212.6c-44,16.9-31.2,80.2,62.3,281.6c40.4,89.5,71.4,164.1,67.8,166.1c-3.6,3.7-32.9-13-66.1-39.1
		c-86.1-63.4-161.3-76.6-203.4-37.4c-32.9,29.8-40.4,29.8-120.9-1.9c-82.5-31.8-86.1-31.8-110.1,1.9c-14.7,18.6-25.7,50.4-25.7,70.9
		c0,31.8-7.2,27.9-62.3-20.5c-106.3-93.2-229.1-95.2-258.4-3.7c-12.8,42.8,47.6,255.6,106.3,373.1c27.4,54.1,56.7,85.9,82.5,89.5
		c55,9.3,53.1-39.1-7.2-173.4c-25.7-57.7-49.5-132.4-51.4-164.1c-1.9-52.3,3.6-59.7,44-56c60.6,7.4,133.9,97.1,210.8,263
		c60.6,126.9,108.2,167.8,128.4,110.1c5.5-13-14.7-91.5-45.9-177.1c-29.3-83.9-55-166.1-55-181c0-29.8,66.1-37.4,106.3-13
		c12.8,9.3,88,182.7,168.7,384.3c80.8,203.3,155.8,386,166.8,404.9c18.3,37.4,80.8,48.4,99,16.9c5.5-9.3-29.3-117.4-78.8-236.8
		c-126.4-306-205.3-522.3-205.3-555.8c0-44.8,36.8-33.5,141.1,48.4c78.8,59.7,111.8,100.8,154.1,197.7
		c40.4,89.5,60.6,119.4,84.4,113.8c18.3-3.7,34.9-24.2,38.5-48.4l5.5-42.8l56.7,48.4c91.6,78.3,183.4,85.9,227.4,18.6
		c22.1-33.5,18.3-50.4-20.2-130.6c-23.8-52.3-71.4-125-102.6-162.2c-73.3-87.6-56.7-110.1,32.9-46.7
		c185.1,130.6,185.1,130.6,214.4,376.7c25.7,201.6,86.1,768.6,111.8,1035.3c5.5,56,14.7,134.3,20.2,171.7l11.1,69l-91.6-26.2
		c-208.9-63.4-469.2-87.6-1039.2-97.1c-500.5-7.4-603.1-5.6-861.5,29.8c-161.3,20.5-330,50.4-374,67.3l-80.8,27.9L1709.6,1317.7z"/>
	<path fill="currentColor"  id="path4605" d="M2032.2-1301.3c0-7.6,31.2-69,71.4-136.2l71.4-123.1l29.3-419.8c16.6-231.4,29.3-432.8,29.3-449.6
		c0-48.4,132-108.1,313.5-139.9c132-22.5,240.1-27.9,456.5-20.5c287.7,9.3,423.3,35.5,527.9,97.1c62.3,37.4,53.1-26.2,93.5,656.6
		c16.6,279.8,18.3,287.2,84.4,408.5c36.8,67.3,64.2,125,60.6,128.7c-3.6,5.6-47.6-3.7-97.1-20.5c-425.2-130.6-1250-117.4-1613,22.5
		C2044.9-1292,2032.2-1292,2032.2-1301.3z"/>
</g>
</svg>
</template>

<script>
    export default {
        name: "gulp.vue"
    }
</script>

<style scoped>

</style>
