<template>
  <svg
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:cc="http://creativecommons.org/ns#"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
    id="Layer_1"
    data-name="Layer 1"
    viewBox="0 -30 80 200"
    width="80"
    height="80"
    version="1.1"
    inkscape:version="0.91 r13725"
    sodipodi:docname="ionic.svg"
     >

    <path fill="currentColor"
          class="cls-1"
      d="m 33.5,27.550001 a 33.5,33.5 0 1 0 33.5,33.5 33.54,33.54 0 0 0 -33.5,-33.5 z"
      id="path3338"
      inkscape:connector-curvature="0" />
    <circle fill="currentColor"
            cx="81.599998"
      cy="15.26"
      r="15.26"
      id="circle3340" />
    <path fill="currentColor"
          class="cls-1"
      d="m 100.39,30.600001 -0.64,-1.4 -1,1.16"
      id="path3342"
      inkscape:connector-curvature="0" />
  </svg>
</template>

<script>
    export default {
        name: "ionic.vue"
    }
</script>

<style scoped>

</style>
