<template>
  <svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   version="1.1"
   id="svg2"
   x="0px"
   y="0px"
   viewBox="0 0 400 600"
       width="80"
       height="80"
   xml:space="preserve"
   inkscape:version="0.48.4 r9939"

   sodipodi:docname="magento.svg">

     <g
     transform="matrix(0.05,0,0,-0.05,-0.68,197.29648)"
     id="g4519">
       <path fill="currentColor"
       d="m 4028.4,3871 c -110.3,-62.4 -434.8,-262.1 -667.8,-411.9 -45.8,-27 -145.6,-89.4 -226.7,-135.2 -79,-47.8 -197.6,-118.6 -260,-158.1 -224.7,-141.5 -1591.4,-986 -1662.1,-1027.6 -39.5,-22.9 -324.5,-197.6 -634.5,-389 L 13.6,1403.8 V -896.9 -3197.6 L 490,-3495.1 c 262.1,-162.3 505.5,-307.9 540.9,-320.4 58.2,-22.9 64.5,222.6 64.5,2302.8 V 815.1 L 1376.1,994 c 153.9,97.8 328.7,208 384.8,245.5 178.9,114.4 233,147.7 416,253.8 178.9,106.1 212.2,124.8 436.8,266.3 1106.7,701 1466.6,911.1 1560.2,911.1 93.6,0 453.5,-210.1 1560.2,-911.1 224.7,-141.5 257.9,-160.2 436.8,-266.3 183.1,-106.1 237.1,-139.4 416,-253.8 58.2,-37.4 230.9,-147.7 384.8,-245.5 l 280.8,-176.8 10.4,-2338.2 10.4,-2338.2 530.5,330.8 530.5,330.8 v 2300.7 2300.7 l -563.7,345.3 c -310,191.4 -594.9,366.1 -634.5,389 -70.7,41.6 -1437.4,886.2 -1662.1,1027.6 -62.4,39.5 -178.9,110.3 -260,158.1 -79,45.8 -181,108.2 -226.7,135.2 -430.6,276.7 -798.8,493 -823.8,486.8 -6.1,-2 -66.5,-35.3 -135.1,-74.8 z"
       id="path4521"
       inkscape:connector-curvature="0" />
       <path fill="currentColor"
       d="M 3250.4,817.2 C 3098.5,719.4 2848.9,565.5 2697,474 2545.1,382.5 2376.6,274.3 2320.5,232.7 l -101.9,-77 v -2367.3 -2367.3 l 114.4,-60.3 c 62.4,-31.2 282.9,-164.3 488.9,-291.2 205.9,-129 474.3,-295.4 594.9,-368.2 122.7,-74.9 332.8,-205.9 466,-291.2 299.6,-189.3 289.2,-189.3 555.4,-16.6 116.5,77 547.1,341.2 952.7,588.7 l 738.5,451.4 v 2361.1 2360.9 l -101.9,77 C 5971.3,274.3 5802.8,382.5 5651,474 5499.1,565.5 5249.5,719.5 5097.7,817.2 l -278.8,174.8 -10.4,-2718.9 -10.4,-2720.9 -312,-193.5 -312,-195.5 -239.2,149.8 c -131.1,83.2 -272.5,174.7 -312,205.9 -66.6,49.9 -72.8,243.4 -83.2,2764.6 L 3529.1,992 3250.4,817.2 z"
       id="path4523"
       inkscape:connector-curvature="0" /></g></svg>
</template>

<script>
    export default {
        name: "magento.vue"
    }
</script>

<style scoped>

</style>
