<template>
  <svg id="svg2" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg"
       viewBox="0 0 100 100"
       width="80"
       height="80"
      class="svg-inline--fa fa-android fa-w-14 fa-5x"
       version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" >

    <g id="g24" fill-rule="nonzero" transform="matrix(0.52464224,0,0,0.56346236,-1.060154,-2.8830597)">
      <path fill="currentColor"  id="path26" d="m135.29,115c-7.894-0.214-13.924,0.52-19.079,2.694-1.465,0.618-3.801,0.634-4.04,2.47,0.805,0.844,0.93,2.104,1.57,3.142,1.231,1.992,3.309,4.661,5.163,6.061,2.026,1.529,4.114,3.165,6.286,4.489,3.863,2.356,8.176,3.701,11.896,6.061,2.192,1.391,4.37,3.143,6.509,4.713,1.057,0.776,1.768,1.983,3.142,2.469v-0.224c-0.722-0.919-0.908-2.183-1.571-3.143l-2.918-2.918c-2.853-3.787-6.475-7.113-10.325-9.876-3.07-2.204-9.942-5.181-11.223-8.754l-0.225-0.225c2.177-0.245,4.726-1.033,6.735-1.571,3.375-0.905,6.391-0.671,9.876-1.571,1.571-0.449,3.142-0.899,4.714-1.347v-0.898c-1.762-1.808-3.018-4.2-4.939-5.836-5.026-4.28-10.512-8.556-16.161-12.122-3.133-1.9776-7.005-3.2627-10.325-4.9385-1.117-0.5635-3.079-0.8565-3.817-1.7959-1.744-2.2237-2.694-5.042-4.039-7.6319-2.82-5.423-5.587-11.348-8.083-17.056-1.703-3.893-2.815-7.732-4.938-11.224-10.192-16.757-21.163-26.871-38.158-36.813-3.616-2.114-7.97-2.949-12.571-4.04-2.468-0.149-4.938-0.299-7.407-0.449-1.507-0.63-3.075-2.474-4.489-3.367-5.63-3.5567-20.071-11.293-24.241-1.122-2.633,6.42,3.935,12.685,6.284,15.937,1.649,2.2822,3.76,4.8408,4.938,7.4072,0.775,1.6866,0.909,3.378,1.572,5.1631,1.632,4.3965,3.051,9.1797,5.162,13.243,1.067,2.0557,2.243,4.2217,3.592,6.0605,0.827,1.128,2.244,1.625,2.468,3.3672-1.386,1.9395-1.465,4.9502-2.244,7.4073-3.508,11.062-2.185,24.81,2.918,32.997,1.566,2.513,5.254,7.903,10.325,5.836,4.436-1.807,3.445-7.406,4.714-12.346,0.287-1.1202,0.111-1.9434,0.673-2.6934v0.2246c1.347,2.6934,2.694,5.3867,4.041,8.0796,2.99,4.816,8.297,9.849,12.794,13.245,2.332,1.761,4.168,4.806,7.183,5.836v-0.225h-0.225c-0.584-0.911-1.498-1.288-2.244-2.02-1.757-1.722-3.71-3.863-5.163-5.836-4.09-5.553-7.705-11.631-10.998-17.958-1.573-3.0205-2.94-6.3535-4.266-9.4278-0.511-1.1855-0.505-2.9775-1.57-3.5917-1.452,2.2529-3.591,4.0742-4.714,6.7343-1.796,4.252-2.028,9.4375-2.693,14.815-0.394,0.141-0.219,0.044-0.45,0.224-3.126-0.754-4.225-3.9723-5.386-6.733-2.939-6.9824-3.485-18.226-0.899-26.263,0.669-2.0791,3.693-8.6289,2.469-10.55-0.584-1.917-2.512-3.0254-3.591-4.4902-1.335-1.8106-2.668-4.1944-3.592-6.2852-2.405-5.4443-3.528-11.556-6.06-17.059-1.21-2.6309-3.257-5.293-4.938-7.6318-1.861-2.589-3.945-4.497-5.387-7.631-0.513-1.113-1.21-2.896-0.449-4.04,0.242-0.773,0.583-1.095,1.347-1.347,1.302-1.0039,4.928,0.334,6.284,0.8975,3.6,1.4951,6.604,2.9189,9.653,4.9385,1.464,0.9707,2.944,2.8476,4.713,3.3672h2.02c3.16,0.7265,6.7,0.2256,9.652,1.122,5.218,1.586,9.894,4.0528,14.141,6.7344,12.938,8.169,23.516,19.798,30.752,33.67,1.164,2.2334,1.668,4.3653,2.693,6.7344,2.069,4.7774,4.675,9.6934,6.733,14.365,2.054,4.6612,4.056,9.3653,6.959,13.244,1.527,2.039,7.422,3.1328,10.101,4.2646,1.878,0.794,4.955,1.621,6.734,2.693,3.398,2.05,6.69,4.49,9.877,6.735,1.593,1.122,6.489,3.583,6.733,5.611z"/>
    </g>
    <g id="g28" fill-rule="evenodd" transform="matrix(0.51852721,0,0,0.55689486,13.290777,14.480919)">
      <path fill="currentColor" id="path30" d="M4.041,0.0303c-1.646-0.0303-2.81,0.1797-4.041,0.4483v0.2246h0.225c0.785,1.6132,2.171,2.6513,3.142,4.041,0.748,1.5713,1.496,3.1426,2.245,4.7129,0.074-0.0743,0.15-0.1494,0.224-0.2237,1.39-0.9795,2.027-2.5468,2.02-4.9384-0.557-0.586-0.639-1.3213-1.122-2.0206-0.642-0.9316-1.884-1.4609-2.693-2.2441z"/>
    </g>
  </svg>
</template>

<script>
    export default {
        name: "mysql.vue"
    }
</script>

<style scoped>

</style>
