<template>
  <svg viewBox="0 0 250 50"
       width="80"
       height="80" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin meet">
    <path fill="currentColor"  d="M237.248 18.752c12.04 12.04 18.291 27.122 18.748 45.247V192c-.457 18.12-6.707 33.207-18.748 45.247-12.04 12.04-27.127 18.291-45.251 18.752H63.999c-18.125-.46-33.207-6.711-45.247-18.752C6.712 225.208.46 210.121 0 192.001V64c.46-18.125 6.711-33.207 18.752-45.247C30.792 6.712 45.874.46 63.999 0h127.998c18.124.46 33.211 6.711 45.251 18.752zm-17.655 103c-4.023-4.002-6.114-9.024-6.28-15.066V64c-.128-6.042-2.202-11.072-6.221-15.091-4.02-4.023-9.054-6.093-15.095-6.22h-21.312v106.626L85.315 42.687H63.999c-6.042.128-11.072 2.198-15.091 6.221-4.023 4.02-6.093 9.05-6.22 15.09v42.688c-.167 6.042-2.258 11.064-6.281 15.066-4.02 3.997-9.05 6.08-15.091 6.246 6.041.17 11.072 2.253 15.09 6.25 4.024 4.002 6.115 9.024 6.281 15.066V192c.128 6.037 2.198 11.072 6.221 15.091 4.02 4.02 9.05 6.093 15.09 6.22h21.317V106.687l85.37 106.627h21.312c6.041-.128 11.076-2.202 15.095-6.221 4.02-4.02 6.093-9.054 6.22-15.09v-42.688c.167-6.042 2.258-11.064 6.281-15.066 4.02-3.997 9.05-6.08 15.091-6.25-6.041-.167-11.072-2.249-15.09-6.246z" /></svg>

</template>

<script>
    export default {
        name: "nativescript.vue"
    }
</script>

<style scoped>

</style>
