<template>
  <svg
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:cc="http://creativecommons.org/ns#"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
    version="1.1"
    viewBox="0 0 600 600"
    width="80"
    height="80"
    fill="currentColor"
    id="svg2"
    inkscape:version="0.48.4 r9939"
    sodipodi:docname="npm.svg">



    <path
      d="m 0,164.17496 500,0 0,168 -250,0 0,27 -111,0 0,-27 -139,0 z m 28.304251,139.49316 55.231987,3.3e-4 10e-7,-83.9342 27.768011,0 0,83.9342 27.51823,0 0,-111.00055 -110.518229,0 z m 138.029079,-111.49316 0.33334,140 55,0 0,-27.93269 55.67917,0 0,-112.06731 z m 54.66667,27 29,0 0,57 -29,0 z m 84.33333,-27 0,111 55.33132,0 0,-83.33399 27.66668,0 0,83.33454 27.63656,0 0,-83.00055 27.69677,0 0,83 27.67404,0 0,-111 z m 0,0"
      id="path4"
      inkscape:connector-curvature="0" />
  </svg>
</template>

<script>
    export default {
        name: "npm.vue"
    }
</script>

<style scoped>

</style>
