<template>
  <svg xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 800 600" xml:space="preserve" viewBox="0 0 100 100"
       width="80"
       height="auto" version="1.1" y="0px" x="0px" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/"><metadata><rdf:RDF><cc:Work rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/><dc:title/></cc:Work></rdf:RDF></metadata>

    <path fill="currentColor"  d="m100,54.007c-0.1236,0.93071-1.4113,1.9658-3.9126,3.2697-5.336,2.78-32.983,14.143-38.868,17.211-5.885,3.069-9.146,3.031-13.795,0.808-4.65-2.221-34.084-14.092-39.383-16.624-2.6495-1.266-4.0016-2.336-4.0411-3.343v10.103c0,1.0093,1.3925,2.077,4.0411,3.3431,5.299,2.5328,34.734,14.42,39.383,16.642,4.6489,2.2225,7.9099,2.2423,13.795-0.8266,5.8851-3.0677,33.532-14.43,38.868-17.212,2.7162-1.4154,3.9132-2.5092,3.9126-3.5084,0-0.92832-0.000041-9.7005,0-9.8641z"/><path fill="#000" d="m100,37.511c-0.1236,0.93079-1.4113,1.9842-3.9126,3.288-5.336,2.782-32.983,14.143-38.868,17.212-5.885,3.068-9.146,3.031-13.795,0.808-4.65-2.221-34.084-14.11-39.383-16.642-2.6495-1.266-4.0016-2.336-4.0411-3.343v10.121c0,1.0093,1.3925,2.077,4.0411,3.3431,5.299,2.5328,34.733,14.421,39.383,16.642,4.6489,2.2225,7.9099,2.2411,13.795-0.8266,5.8851-3.0689,33.532-14.43,38.868-17.212,2.7162-1.4154,3.9132-2.5098,3.9126-3.5084,0-0.92949-0.000041-9.7192,0-9.8824z"/><path fill="#000" d="m100,20.428c-0.1236,0.93072-1.4113,1.9661-3.9126,3.2697-5.3361,2.7815-32.983,14.143-38.868,17.212-5.8851,3.0677-9.1461,3.0485-13.795,0.8266-4.649-2.223-34.084-14.111-39.383-16.643-2.6495-1.266-4.0016-2.336-4.0411-3.343v10.103c0,1.0087,1.3925,2.077,4.0411,3.3431,5.299,2.5323,34.733,14.421,39.383,16.642,4.6489,2.2225,7.9099,2.2595,13.795-0.80823,5.8851-3.0689,33.532-14.448,38.868-17.23,2.7162-1.4154,3.9132-2.5104,3.9126-3.5084,0-0.9289-0.000041-9.7005,0-9.8641z"/><path fill="#000" d="m54.443,14.862-1.9409,4.6695-3.1359-5.2085-10.004-0.89875,7.4657-2.6939-2.2395-4.1317,6.9872,2.7345,6.5934-2.1566-1.7846,4.2722,6.7192,2.5146z"/><path fill="#000" d="m35.811,29.901,23.171-3.5568-6.9966,10.264z"/><path fill="#000" d="m41.951,21.36c0,2.6513-5.5447,4.8006-12.384,4.8006-6.8397,0-12.384-2.1493-12.384-4.8006s5.5447-4.8006,12.384-4.8006c6.8397,0,12.384,2.1493,12.384,4.8006z"/><path d="m73.347,15.23-15.173,6.0066,13.703,5.4188,1.4695-0.5878,13.703-5.4004-13.703-5.4372z" fill="#000"/></svg>
</template>

<script>
    export default {
        name: "redis.vue"
    }
</script>

<style scoped>

</style>
