<template>
  <svg
     viewBox="0 0 100 100"
     width="80"
     height="80"
    id="Layer_1" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 100 100" xml:space="preserve" version="1.1" y="0px" x="0px" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/"><metadata id="metadata15"><rdf:RDF><cc:Work rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/><dc:title/></cc:Work></rdf:RDF></metadata>
    <g id="g3" transform="translate(0,-11.037)">
      <path fill="currentColor" id="path5" d="M0,13.422v84.615h100v-84.615h-100zm92.308,76.924h-84.616v-61.539h84.615v61.539z"/>
      <path fill="currentColor" id="rect7" d="m42.002,66.065,26.488,0,0,7.775-26.488,0z"/>
      <path fill="currentColor" id="polygon9" d="m15.521,66.064,26.467-10.515,0-0.022,0.014,0.006,0-8.352-0.014,0.006,0-0.022-26.467-10.515-0.006,8.364,15.972,6.343-15.972,6.344z"/>
    </g>
  </svg>
</template>

<script>
    export default {
        name: "shell.vue"
    }
</script>

<style scoped>

</style>
