<template>
  <svg version="1.1" baseProfile="basic"
	 id="Your_Icon" xmlns:svg="http://www.w3.org/2000/svg" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:cc="http://creativecommons.org/ns#"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"

   viewBox="0 0 100 100"
   width="80"
   height="80"

       xml:space="preserve">
<path fill="currentColor"  d="M49.906,1.104C31.028,1.071,13.26,12.265,5.105,29.984l22.929,0.055v2.508c-7.06-0.85-6.439,2.817-5.439,6.708
	l15.052,37.723L48.71,51.044l-5.079-12.153c-1.845-3.255-1.884-6.867-9.431-6.526l0.106-2.311l33.629,0.082v2.589
	c-3.938,0.231-8.679-0.99-6.166,7.075L75.37,75.527l7.435-20.857c2.435-8.743,0.143-17.146-2.75-25.385
	c-1.609-5.527-0.859-10.144,6.354-11.975C75.4,6.072,62.41,1.125,49.906,1.104L49.906,1.104z M95.643,34.087L73.84,90.918
	c6.021-5.215,12.195-7.113,19.749-21.542C98.616,57.374,98.098,46.256,95.643,34.087L95.643,34.087z M2.797,35.008
	C0.669,51.785,0.864,56.699,6.132,70.399c6.867,13.122,12.191,15.886,19.749,21.033L2.797,35.008L2.797,35.008z M50.757,56.296
	L34.6,95.279c11.341,3.237,21.489,2.832,30.779-0.769L50.757,56.296L50.757,56.296z"/>
</svg>
</template>

<script>
    export default {
        name: "wordpress.vue"
    }
</script>

<style scoped>

</style>
