<template>
  <b-container class="mt-10">
    <b-row class="justify-content-center mb-5 mt-5">
      <b-col class="col-lg-7 text-center pt-3">
        <h3 class="font-alt letter-spacing-3 mb-0 text-extra-large-2 text-uppercase">{{ name  }}</h3>
        <nice-border-solid />
      </b-col>
    </b-row>


    <b-row>
      <b-col md="12" cols="12" class="mb-4">{{ title1[0]['desc'] }}</b-col>
      <b-col md="12" cols="12" class="mb-4">{{ title1[0]['desc2'] }}</b-col>
    </b-row>

    <b-row class="justify-content-center mb-5 mt-5">
      <b-col class="col-lg-7 text-center pt-3">
        <h3 class="svg__color font-alt letter-spacing-3 mb-0 text-extra-large-2 text-uppercase">Projets avec {{ name  }}</h3>
        <nice-border-solid />
      </b-col>
    </b-row>

    <div class="mb-4" v-for="item in title1[0]['projets']" v-bind:key="item">
      <b-card no-body class="overflow-hidden" >
        <b-row no-gutters>
          <b-col md="3" v-if="item.screenshot">
            <b-card-img  :src="item.screenshot" alt="Image" class="rounded-0"></b-card-img>
          </b-col>
          <b-col :md="item.screenshot ? 9 : 12">
            <b-card-body :title="item.name">
              <b-link :href="item.url" v-if="item.url" target="_blank">{{ item.url }}</b-link>
              <b-card-text>
                {{ item.desc }}
              </b-card-text>
              <b-card-text>
                {{ item.desc2 }}
              </b-card-text>


              <div class="timeline-footer">
                <b-row>
                  <b-col v-if="item.tools">
                    <b-badge class="mr-1" v-for="competence in item.tools" v-bind:key="competence" pill variant="dark">{{ competence }}</b-badge>
                  </b-col>
                  <b-col md="6">
                    <p class="text-right"  v-if="item.date">
                      <span >
                        <em v-if="item.current">Depuis </em>
                        {{ item.date.seconds  | moment("MMMM YYYY") }}</span><br />
                      (<span v-if="!item.professional">Projet personnel</span>)
                    </p>
                  </b-col>
                </b-row>
              </div>

            </b-card-body>
          </b-col>
        </b-row>
      </b-card>
    </div>



  </b-container>

</template>

<script>
  import Header from '~/components/Header.vue'
  import NiceBorderSolid from '~/components/ui/niceBorderSolid.vue'
  import { fireDb } from '~/plugins/firebase.js'

    export default {
      components: {
        Header,
        'nice-border-solid': NiceBorderSolid
      },
      async asyncData ({params}) {

          let serverData = []

          await fireDb.collection(`skill_${params.name}`)
              .get()
              .then(qS => {
                  qS.forEach(doc => {
                      // console.log(doc.data())
                      serverData.push(doc.data());
                  })
              });

        return {
            title1: serverData,
            name: params.name
        }
      }
    }
</script>

<style scoped>

</style>
